@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/GTWalsheimPro-Medium.ttf");
}

@font-face {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/GTWalsheimPro-Bold.ttf");
}

:root {
  --bgcolor: #c83bb1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0517;
  color: #fff;
  font-family: "Konnect";
}

p {
  color: #958ea7;
  font-family: "GT Walsheim Pro", sans-serif;
}

ul {
  list-style: none;
}

.gradient {
  background-color: #21d4fd;
  background-image: linear-gradient(75deg, #21d4fd 0%, #6d21ff 80%);
}

.gradient_text {
  background-color: #21d4fd;
  background-image: linear-gradient(75deg, #103ce7 0%, #64e9ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  background-color: #21d4fd;
  background-image: linear-gradient(75deg, #105fe7 0%, #64e9ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_text_orange {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffdd00 60%, #ffa200 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_button {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}
.gradient_button_navbar {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  background-size: 200% auto;
}

.gradient_bullet {
  background-color: #21d4fd;
  background-image: linear-gradient(90deg, #21bbfd 39%, rgb(33, 128, 253) 99%);
}

.gradient_bullet_text {
  background-color: #21d4fd;
  background-image: linear-gradient(90deg, #21bbfd 39%, rgb(33, 139, 253) 99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav.stroke ul li a,
nav.fill ul li a h1 {
  position: relative;
}

.bubble {
  position: absolute;
  margin: 0 0 0 0 !important;
  width: 5rem;
  height: 3rem;
  border-radius: 18px;
  background: #1fa2ff ;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  z-index: -1;
  left: 28.5%;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.136); */
  box-shadow: 0px 1px 40px 0px rgba(227, 222, 255, 0.2) inset,
    0px 4px 18px 0px rgba(154, 146, 210, 0.3) inset,
    0px 98px 100px -48px rgba(4, 125, 255, 0.2) inset,
    0px -82px 68px -64px rgba(50, 38, 191, 0.2) inset,
    0px 7px 11px -4px rgba(255, 255, 255, 0.25) inset,
    0px 39px 56px -36px rgba(255, 255, 255, 0.274) inset;
  transition: 0.5s;
  opacity: 0;
}

nav ul li:nth-child(1):hover ~ span.bubble {
  left: 28.5%;
  opacity: 0.5;
}

nav ul li:nth-child(2):hover ~ span.bubble {
  left: 37.8%;
  width: 5.5rem;
  opacity: 0.5;
}

nav ul li:nth-child(3):hover ~ span.bubble {
  left: 49%;
  opacity: 0.5;
}

nav ul li:nth-child(4):hover ~ span.bubble {
  left: 59.3%;
  opacity: 0.5;
}

/* nav ul li a h1:hover {
  box-shadow: inset 0 0 0 2px #ffffff88;
  background: #ececec2c;
  backdrop-filter: blur(10px);
} */
/* nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  transition: all 0.3s ease-in-out;
} */

.bg-grid {
  background-image: url("/images/grid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  width: 100%;
  height: 40rem;
  border-radius: 50%;
  background-image: linear-gradient(75deg, #103ce7 0%, #64e9ff 80%);
  position: absolute;
  top: -30%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
  filter: blur(100px);
}

.circle_orange {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 50%;
  z-index: 0;
  transition: all 300ms ease;
  /* filter: blur(100px); */
}

.card {
  border-radius: 18px;
  box-shadow: rgba(94, 193, 206, 0.3) 0px 4px 36px 0px,
    rgba(255, 255, 255, 0.2) 0px 0px 140px 0px inset;
  overflow: hidden;
}

.card.orange {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffdd00 0%, #ff2525 74%);
}

.card.blue {
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgb(2, 203, 221) 0%,
    rgba(8, 70, 218, 1) 90%
  );
}

section {
  width: 100vw;
  height: 100vh;
}

.card.green {
  background-image: linear-gradient(
    135deg,
    #00aeff 0%,
    hsl(146, 100%, 50%) 100%
  );
}

.card.purple {
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(221, 22, 224, 1) 11%,
    rgba(111, 22, 190, 1) 88.2%
  );
}

.card.dark_purple {
  background-image: linear-gradient(
    126.3deg,
    rgba(30, 2, 83, 1) 32.2%,
    rgba(198, 55, 160, 0.46) 109.2%
  );
}

.backdropp {
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(9, 5, 21, 0.3);
  backdrop-filter: blur(10px);
}

.purple_shadow {
  box-shadow: rgba(100, 6, 255, 0.6) 0px 0px 30px 0px;
}

.card_services {
  width: 25rem;
  height: 35rem;
  background-color: #2b1f4a;
  border-radius: 18px;
}

.contact_card {
  box-shadow: rgba(255, 255, 255, 0.07) 0px 0px 0px 1px inset,
    rgba(27, 45, 95, 0.6) 0px 0px 80px 0px;
}

.bg_contact {
  background-image: url("/images/people-working-together.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input_contact {
  width: 80%;
  height: 3rem;
  border-radius: 16px;
  background-color: #2a203b;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

text {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
}

@media (width < 1444px) {
  section {
    height: fit-content;
  }

  .circle {
    width: 100%;
    height: 30rem;
    top: -35%;
  }
}

@media (width < 650px) {
  .card_services {
    width: 18rem;
    height: 27rem;
  }
}
